body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background: #0b0b0b; /* очень тёмный фон */
  color: #0ff;
}

/* Контейнер страницы */
.content {
  max-width: 1000px;
  margin: 40px auto;
  background-color: <#864902975494291456>11; /* чуть светлее для блоков */
  border: 1px solid #0ff;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 0 30px rgba(0,255,255,0.5);
}

/* Заголовки */
h2 {
  color: #0ff;
  text-shadow: 0 0 10px #0ff;
}

/* Меню */
.menu {
  background-color: <#864902975494291456>11;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid #0ff;
}

.menu a {
  color: #0ff;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.menu a:hover {
  color: #00cccc;
  text-shadow: 0 0 10px #0ff;
}

/* Таблицы */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: <#864902975494291456>11;
}

th, td {
  border: 1px solid #0ff;
  padding: 10px;
  text-align: left;
}

th {
  background-color: <#864902975494291456>11;
  color: #0ff;
}

td {
  color: #0ff;
}
